html, body {
    background: linear-gradient(to right, #0b0c10, #232324);
    background-size: 100%
}
a{
    text-decoration: none;
}
.middle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
